body {
  color: #000000;
  background-color: gray;
}
.selections {
  display: flex;
  justify-content: center;
}
.selection {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 2rem;
  transition: 200ms;
}
.selection:hover {
  transform: scale(1.2);
}

.you {
  font-size: 25px;
  color: bisque;
}
.computer {
  font-size: 25px;
  color: bisque;
}
.rock {
  color: orangered;
  background-color: grey;
}
.paper {
  color: aqua;
}
.scissor {
  color: blue;
}
.result {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}
.result-score {
  margin-left: 0.1rem;
  font-size: 0.5rem;
  color: #333;
}
.result-selection.winner {
  opacity: 1;
  font-size: 1.5rem;
}
